<p>Hello Beautiful</p>

<div class="blackBorder row">
    <div >
        <p>Hello Beautiful</p>
    </div>
  

</div>
<div class="blackBorder row">
    <div class=" col-sm">
        <p>Hello Beautiful</p>
    </div>
    <div class="r col-sm">
        <p>I want to take a nap!</p>
    </div>
    <div class=" col-sm">
        <p>My favorite color is orange</p>
    </div>

</div>
<div class="blackBorder row">
    <div class=" col-sm">
        <p>Hello Beautiful</p>
    </div>
    <div class="r col-sm">
        <p>I want to take a nap!</p>
    </div>
    <div class=" col-sm">
        <p>My favorite color is orange</p>
    </div>

</div>